* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
    color: #222;
}


/* HEADER */

header {

    background:#ffffff;

    color:#111;

    text-align:center;

    padding:45px 20px;

    box-shadow:0 5px 20px rgba(0,0,0,0.05);

}



.brand h1 {

    font-size:48px;

    letter-spacing:5px;

    margin:0;

}



.brand p {

    font-size:18px;

    color:#666;

    margin-top:10px;

}



.brand img {

    width:150px;

    height:150px;

    object-fit:contain;

    margin-bottom:15px;

}



/* INTRO */


.intro {

    text-align:center;

    padding:40px 20px;

}



.intro h2 {

    font-size:30px;

    margin-bottom:15px;

}



.intro p {

    color:#666;

    font-size:18px;

    max-width:600px;

    margin:auto;

}




/* CATEGORIES */


.categories {

    padding:40px 20px;

    text-align:center;

}



.categories h2 {

    font-size:32px;

    margin-bottom:30px;

}



.category-list {

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(200px,1fr));

    gap:25px;

    max-width:1000px;

    margin:auto;

}



/* LUXURY CATEGORY CARDS */


.category {

    background:#ffffff;

    min-height:200px;

    border-radius:30px;

    display:flex;

    flex-direction:column;

    align-items:center;

    justify-content:center;


    border:1px solid #eeeeee;


    box-shadow:

    0 12px 35px rgba(0,0,0,0.06);


    position:relative;

    overflow:hidden;


    cursor:pointer;


    transition:0.4s ease;

}



.category img {

    width:75px;

    height:75px;

    object-fit:contain;

    margin-bottom:20px;

}



.category h3 {

    margin:0;

    font-size:21px;

    letter-spacing:4px;

    font-weight:600;

    color:#222;

}



.category h3::after {

    content:"";

    display:block;

    width:35px;

    height:2px;

    background:#c8a45d;

    margin:12px auto 0;

}



.category:hover {

    transform:translateY(-12px);

    box-shadow:

    0 20px 45px rgba(0,0,0,0.12);

}



/* FOOTER */


footer {

    text-align:center;

    padding:25px;

    color:#777;

    font-size:14px;

}



/* MOBILE */


@media(max-width:600px){


    .brand h1 {

        font-size:38px;

    }


    .brand img {

        width:120px;

        height:120px;

    }


    .category-list {

        grid-template-columns:repeat(2,1fr);

        gap:15px;

    }


    .category {

        min-height:150px;

    }


    .category h3 {

        font-size:16px;

    }

}
